@{
    ViewBag.Title = "Séries Guru - Sobre";
}

<hgroup class="title">
    <br/>
    <h2>Séries Guru é a maneira revolucionária de realizar exercícios. Rápido,prático, simplesmente perfeito. <br />
        Experiemente este novo modo de criar e realizar exercícios com gráficos didáticos que o ajudam a perceber seu desenvolvimento.<br />
    </h2>
</hgroup>
<h1 align="center">Seja você também um Guru!</h1>
<article>
    <p>
        @*Use this area to provide additional information.*@
    </p>

    <p>
        @*Use this area to provide additional information.*@
    </p>

    <p>
        @*Use this area to provide additional information.*@
    </p>
</article>

@*<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@