@{
    ViewBag.Title = "Séries Guru - Contatos";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>(21) 2619-2585</span>
    </p>
    <p>
        <span class="label">Secundário:</span>
        <span>(21) 2619-2585</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte Técnico:</span>
        <span><a href="mailto:Support@workker.com.br">Support@workker.com.br</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@workker.com.br">Marketing@workker.com.br</a></span>
    </p>
    <p>
        <span class="label">Geral:</span>
        <span><a href="mailto:Workker@workker.com.br">Workker@workker.com.br</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        Estrada Francisco da Cruz Nunes<br />
        Piratininga, Niterói - RJ
    </p>
</section>