@model ProjetoSeriesGuru.Web.Models.UsuarioModel

@{
    ViewBag.Title = "Index";
}

<h2>Series Guru</h2>
Email:
<input type="text" name="Email" id="Email" />
<br />

Senha:
<input type="text" name="Senha" id="Senha" />
<br />

<input type="submit" onclick="verificarusuario();" name="Entrar" id="Entrar" value="Entrar" />
<br />

<h1>Crie uma conta</h1>
<br />
Nome:
<input type="text" name="Nome" id="Nome" />
<br />
Sobrenome:
<input type="text" name="Sobrenome" id="Sobrenome" />
<br />
Senha:
<input type="text" name="Senha" id="Senhaa" />
<br />
Email:
<input type="text" name="Email" id="Emaill" />
<br />

<input type="radio" name="group1" value="Feminino">
Feminino
<input type="radio" name="group1" value="Masculino">
Masculino



<br />

<input type="submit" onclick="Cadastrar();" name="Cadastrar" id="Cadastrar" value="Cadastrar" />

<script type="text/javascript">

    function verificarusuario() {
        if ($("#Usuario").val() == null) {
            alert("Voce nao é cadastrado ,cadastre-se!");
            return false;
        }
        else
            return true;
    }

    function validarCampo() {

        var sobrenome = $("#Sobrenome");
        if ($("#Nome").val() == "", sobrenome.val() == "", $("#group1").val() == "", $("#Senhaa").val() == "", $("#Emaill").val() == "") {
            alert("Todos os campos são obrigatórios!");
            return false;
        }
        else
            return true;
    }
    function Cadastrar() {

        if (!validarCampo())
            return false;

        $.ajax({
            data: {
                nome: $("#Nome").val(), sobrenome: $("#Sobrenome").val(), senha: $("#Senhaa").val(),
                email: $("#Emaill").val(), sexo: $('input[name=group1]:checked').val()
            },

            url: "/Usuario/Cadastrar",
            type: "POST",
            success: function (obj) {
                alert("Cadastrado efetuado com sucesso.");
                LimparCampos();
            },
            error: function (e, jxr) {
                alert("Erro.");
            }
        });


    }
    function LimparCampos() {

        $("#Nome").val("");
        $("#Sobrenome").val("");
        $("#Senhaa").val("");
        $("#Emaill").val("");

    }
</script>
