@model ProjetoSeriesGuru.Web.Models.FiltrarSeriesModel
@{
    ViewBag.Title = "Series";
}

<h2>Adicionar Series</h2>

<div>

<div id="SeriesFiltro">
    <input type="submit" name="Adicionar" onclick="Adicionar();" id="Adicionar" value="Adicionar" />

    <div id="cadastro" style="display: none">
        @Html.Partial("_CadastroDeSeries", Model)
    </div>
    <div id="Editar">
    </div>

</div>

<div id="Editarr">
    <h2>Editar Séries</h2>
    <br />

    <input type="submit" onclick="Editar();" name="Editar" id="Editarserie" value="Editar">


    <select id="Series">
        <option id="optSerie" value="" onchange="Editar();" selected>Selecione...</option>
    </select>
</div>
    </div>

<script type="text/javascript">

    function Editar() {
        $("#Editarr").show();
        $("#cadastro").hide();
    }

    function Adicionar() {
        $("#cadastro").show();
        $("#Editarr").hide();
    }
</script>
