@model ProjetoSeriesGuru.Web.Models.FiltrarExerciciosModel

<div id="Exercicios">
    <table>

        @if (Model != null && Model.Exercicios != null && Model.Exercicios.Count > 0)
        {
            <tr>
                <td>Grupamento </td>
                <td>Nome </td>
                <td>Titulo </td>
                <td>Url </td>
            </tr>       
      
            foreach (var exercicio in Model.Exercicios)
            {
            <tr>
                <td>@exercicio.Grupamento</td>
                <td>@exercicio.Nome</td>
                <td>@exercicio.Titulo</td>
                <td>@exercicio.Url</td>
            </tr>
            }
        }
        else
        {   
            <tr>
                <td>Sem resultados</td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
</div>
