@using ProjetoSeriesGuru.Entidades
@model ProjetoSeriesGuru.Web.Models.FiltrarExerciciosModel
@{
    ViewBag.Title = "Consultar Exercícios";
}
<div id="DocumentoFiltro">
    <h2>Consultar Exercícios</h2>
    <small><h3>Busque por grupamento muscular </h3></small>
    <br/>

    Grupamento: @Html.Partial("_ComboGrupamentos", Model)
    <br>

    <input type="submit" onclick="Buscar();" name="Filtrar" id="Filtrar" value="Filtrar" />

    @Html.Partial("_Exercicios",Model)
    </div>


<script type="text/javascript">

    function Buscar() {
        $.ajax({
            data: { IdGrupamento: $("#Grupamento").val() },
            url: "/ListarExercicios/Buscar",
            type: "POST"

        }).done(function (html) {
            $("#Exercicios").replaceWith(html);
        });
    }
</script>
'