@using ProjetoSeriesGuru.Entidades
@model ProjetoSeriesGuru.Web.Models.FiltrarExerciciosModel
@{
    ViewBag.Title = "Index";
}
<div id="DocumentoFiltro">
    <h2>Index</h2>

    <input type="submit" onclick="Buscar();" name="Filtrar" id="Filtrar" value="Filtrar" />


    Grupamento: 
    <select id="Grupamento">
        <option value="" selected>Selecione...</option>

        @if (Model != null && Model.TodosGrupamentos != null && Model.TodosGrupamentos.Any())
        {
            foreach (var grupamento in Model.TodosGrupamentos)
            {
                <option value=@grupamento.Id>@grupamento.Nome</option>
            } 
        }
    </select>

    <table>
        @if (Model != null && Model.Exercicios != null && Model.Exercicios.Count > 0)
        {
            <tr>
                <td>Titulo </td>
                <td>Nome </td>
                <td>Url </td>
            </tr>
      
            foreach (var exercicio in Model.Exercicios)
            {
                <tr>
                    <td>@exercicio.Titulo</td>
                    <td>@exercicio.Nome</td>
                    <td>@exercicio.Url</td>
                </tr>
            }
        }
        else
        {   
            <tr>
                <td>Sem resultados</td>
                <td></td>
                <td></td>
            </tr>
        }
    </table>
    </div>


<script type="text/javascript">

    function Buscar() {
        $.ajax({
            data: { IdGrupamento: $("#Grupamento").val() },
            url: "/ListarExercicios/Buscar",
            type: "POST"

        }).done(function (html) {
            $("#DocumentoFiltro").replaceWith(html);
        });
    }
</script>
'