@model ProjetoSeriesGuru.Web.Models.FiltrarSeriesModel
<h2>Cadastro de series</h2>

<div id="Series">
    Nome:
    <input type="text" name="Nome" id="name" />
    <br />
    Objetivo:
    <input type="text" name="Objetivo" id="Objetivo" />
<br />
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    

    
    

Tipo:
    <select id="Tipo">
        <option value="" selected>Selecione...</option>
        
         @if (Model != null && Model.TodosTipos != null && Model.TodosTipos.Any())
         {
             foreach (var tipo in Model.TodosTipos)
            {
                <option value=@tipo.Id>@tipo.Nome</option>
            } 
         }
        <option value> </option>
    </select>
<br />
    
    
    
    
    
    
    
    
    
    
    

    
    
    

    
    
    


Exercicios:
    <form>
        @if (Model != null && Model.TodosExercicios != null && Model.TodosExercicios.Any())
        {
            foreach (var exercicio in Model.TodosExercicios)
            {
            <input type="checkbox" name="exercicio" value="nome do exercicio">@exercicio.Nome
            }
        }

    </form>

    <input type="submit" onclick="Cadastrar();" name="Cadastrar" id="Cadastrar" value="Cadastrar" />
</div>
<script type="text/javascript">

    function Cadastrar() {
        $.ajax({
            data: {
                nome: $("#Nome").val(),
                Objetivo: $("#Objetivo").val(),
                Tipo: $("#Tipo").val(),
                Exercicios: $("#Exercicios").val()
            },
            url: "Series/Cadastrar",
            type: "POST",
            success: function (obj) {
                alert("Cadastrado efetuado com sucesso.");

            },
            error: function (e, jxr) {
                alert("Erro.");
            }
        });
    }

</script>
