@model ProjetoSeriesGuru.Web.Models.FiltrarSeriesModel
<h2>Cadastro de series</h2>

<div id="Series">
    Nome:
    <input type="text" name="Nome" id="Nome" />
    <br />
    Objetivo:
    <input type="text" name="Objetivo" id="Objetivo" />
    <br>
    Tipo: 

    @Html.Partial("_TipoDeSeries", Model)

    <br>

    </div>
Exercicios: 
    <form  id="formCheck">
        @if (Model != null && Model.TodosExercicios != null && Model.TodosExercicios.Any())
        {
            foreach (var exercicio in Model.TodosExercicios)
            {
            <input type="checkbox" name="exercicio" value="@exercicio.Id">@exercicio.Nome
            }
        }

    </form>

    <input type="submit" onclick="Cadastrar();" name="Cadastrar" id="Cadastrar" value="Cadastrar" />
    
<script type="text/javascript">

    function Cadastrar() {
        
        var idsDosExercicios = new Array();
        $("input:checkbox").each(function (chk) {
            if (this.checked)
             idsDosExercicios.push(this.value);
        });
        
        $.ajax({
            
           
            traditional: true,
            url: "Series/Cadastrar",
            type: "POST",
            data: {
                nome: $("#Nome").val(),
                Objetivo: $("#Objetivo").val(),
                Tipo: $("#Tipo").val(),
                Exercicios: idsDosExercicios
            },
            success: function (obj) {
                alert("Cadastrado efetuado com sucesso.");

            },
            error: function (e, jxr) {
                alert("Erro.");
            }
        });
    }

</script>
